.name{
text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:yellowgreen;
font-size:300%;
position:absolute;
top:10px;
left:350px;

}
.menu
{
font-size:110%;
position:absolute;
top:150px;
left:550px;
}

img
{
	width:210px;
	height:180px;
	position:relative;
	top:1px;
	left: 52px;
	
}

.login-form{
	width: 200px;
	height:250px;
	text-align:center;
	border:2px solid blue; 
	margin:2px;
	padding:2px;
	position:relative;
	left:50px;

	
 }
.quicklink
{
height:150px;
text-align:left;


}
.footer
{
width:100%;
text-align:center;
position:absolute;
left:120px;
}
.marquee
{
direction:left;
background-color:greenyellow;
position:absolute;
top:180px;
left:300px;
height: 400px;
width: 1000px;

}