.name{
text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:yellowgreen;
font-size:300%;
display:inline-block;
position:relative;
top:1px;
left:5px;

}

img
{
	width:300px;
	height:180px;
	display:inline-block;
}

.login-form{
	width: 200px;
	height:250px;
	text-align:center;
	border:2px solid blue; 
	margin:2px;
	padding:2px;
	
 }
.quicklink
{
height:150px;
text-align:left;

}
.footer
{
width:100%;
text-align:center;
}
.marquee
{
width:50%;
direction:left;
height:100%;
background-color:greenyellow;

}