.name{
text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:yellowgreen;
font-size:300%;
position:absolute;
top:10px;
left:350px;

}
.menu
{
font-size:110%;
position:absolute;
top:150px;
right:50px;
}

.img
{
	width:210px;
	height:180px;
	position:relative;
	top:1px;
	left: 52px;
	
}
.login-form{
	width: 200px;
	height:250px;
	text-align:center;
	border:2px solid blue; 
	margin:2px;
	padding:2px;
	position:relative;
	left:50px;

	
 }
.quicklink
{
height:150px;
text-align:left;


}
.footer
{
width:100%;
text-align:center;
position:absolute;
left:120px;
}
.marquee
{

border:3px solid greenyellow;
position:absolute;
top:193px;
left:300px;
height: 400px;
width: 900px;
padding: 10px 30px 0.5px 70px;
}
.howtobeamember
{
border:3px solid greenyellow;
margin:40px;
padding:10px;
position:relative;
top:0.5px;
left:10px;
background-color:#F5FFFA;
}
